* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(196, 193, 193);
}
body {
    background-color: black;
}
html { scroll-behavior: smooth; }
h2 {
    padding: 5rem 0 1rem 0;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 2rem;
}
/* header nav links*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .95);
    border-bottom: 1px solid gray;
}
header nav {
    display: flex;
    align-items: center;
    padding: 2rem;
}
nav .my-name{
    display: flex;
    flex: 1;
    text-shadow: 0 1px orange;
    letter-spacing: 3px;
    font-size: 1.2rem;
}
nav .my-name a{
    display: inline-flex;
    text-decoration: none;
}
nav .links {
    position: relative;
    cursor: pointer;

}
nav .links a{
    text-decoration: none;
    margin-left: 4rem;
    position: relative;
    /*color: white;*/
}
nav .links a:after {
    content: "";
    width:0;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom:-.5rem;
    transition: .3s ease-in-out;
}
nav .links a:hover {
    /*color: rgb(71, 71, 71);*/
    /*color: red;*/
}
nav .links a:hover:after {
    width:100%;
    /*background-color: rgb(71, 71, 71);*/
    /*color: white;*/
}

nav .nav-links {
    position: absolute;
    right: -1.5rem;
    line-height: 4rem;
    display: none;
    width: 200px;
    opacity: .9;
    background-color: black;
    margin-top: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    padding: 2rem 0;
}


/*main             */

main .banner-container {
   width: 86%;
   margin: 0 auto;
}
main .banner {
    position: relative;
}
main h1 {
    font-size: 6rem;
    /*letter-spacing: .3rem;*/
    color: rgb(196, 193, 193);
}
main .shape {
    transform: translateX(50px);
    width: 250px;
}
main .pic {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: transparent;
    position: absolute;
    left: 5rem;
}
main .studio {
    padding-left: 6px;
    /*letter-spacing: .8rem;*/
    opacity: .8;
}
main .stack {
    /*background-color: gray;*/
    padding: 1rem 0;
    display: flex;
}
main .stack button {
    padding: .3rem ;
    border-radius: 3px;
    border: 1px solid gray;
    cursor: pointer;
    background-color: transparent;
    font-size: .9rem;
    margin-left: 5px;
    transform: scale(1.0);
    transition: .2s ;
    /*letter-spacing: 2px;*/
}
main .stack button:hover {
    color: gray;
    transform: scale(1.1);
}

/* portfolio section */
section .about {
    padding-top: 10rem;
}
section .portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 3rem 2rem;
}
section .portfolio .card {
    /*transform: translateX(-100%);*/
    display: flex;
    flex-direction: column;
}
.card img {
    border-radius: 5px;
    box-shadow:3px 2px 3px rgb(223, 121, 5);
    opacity: .8;
}
.card div { 
    margin-top: 1rem;
    font-size: 1.2rem;
}
.card div a {
    margin-right: 1rem;
    text-decoration: none;
    padding-bottom: .3rem;
    border-bottom: 2px solid gray;
}

/* contact section */

section .contact {
    display: flex;
    justify-content: center;
    line-height: 2.5rem;
    padding: 1rem ;
    width: 100%;
}
section .contact form {
    width: 100%;
    padding: 1rem ;
}

.contact input, textarea{
    border: none;
    width: 100%;
    padding: .5rem;
    outline: none;
}
.contact .send, textarea{
    font-size: 1rem;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.808);
}
section .contact .input-field {
    font-size: 1.1rem;
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    outline: none;
}

/* footer section */
footer {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    margin-top: 2rem;
}
footer .icon {
    display:flex;
    border: 1px solid white;
    padding: .5rem 1.7rem;
    border-bottom:none;
    border-radius: 5px 5px 0 0;
    background-color: black;
}
footer .icon div {
    padding: 0 .5rem ;
}
footer a {
    text-decoration: none;
    border-bottom: 2px solid gray;
}



    @media only screen and (min-width: 600px) {

        
        header nav {
            display: flex;
            align-items: center;
            padding: 2rem 6rem;
        }
        nav .my-name{
            display: flex;
            flex: 1;
            text-shadow: 0 1px orange;
            letter-spacing: 3px;
            font-size: 1.2rem;

        }
        nav .my-name a{
            display: inline-flex;
            text-decoration: none;
            /*text-shadow: 3px 2px 20px;*/
        }
        /*nav .links {
            position: relative;
            cursor: pointer;

        }*/
        nav .links a{
            text-decoration: none;
            margin-left: 6rem;
            position: relative;
            font-weight: 600;
            text-shadow: 3px 2px 20px;
        }
        /*nav .links a:after {
            content: "";
            width:0;
            height: 2px;
            background-color: orange;
            position: absolute;
            left: 0;
            bottom:-.5rem;
            transition: .3s ease-in-out;
        }*/
        nav .links a:hover {
            color: rgb(71, 71, 71);
            color: white;
            
        }
        /*nav .links a:hover:after {
            width:100%;
            background-color:white;
        }*/
        nav .menu {
            display: none;
        }
        nav .nav-links {
            display: flex;
            position: relative;
            right:0;
            left: 0;
            line-height: 1rem;
            /*border: 1px solid white;*/
            width: 500px;
            opacity: .9;
            background-color: transparent;
            margin-top:0;
            box-shadow:none;
        }

        .banner-container {
            display: flex;
            justify-content: space-around;
        }
        main #banner-text {
            display: flex;
            flex-direction: column;
        }
        main .banner {
            padding-top: 2rem;
            /*border: 1px solid white;*/
        }
        main .banner h1 {
            letter-spacing: 3.1rem;
        }
        main .banner .studio {
            letter-spacing: 1.7rem;
        }
        main .banner .stack {
             width: 90%;
        }
        main .banner button{
            width: 100%;
            padding: .7rem 1rem;
        }

        .card a:hover {
            color: gray;
        }
        /*    form     */
        section .contact {
            display: flex;
            justify-content: center;
            line-height: 2.5rem;
            padding: 1rem ;
            /*width: 100%;*/

        }
        section .contact form {
            width: 50%;
            padding: 1rem ;
        }


    }
