* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(196, 193, 193);
    font-family: 'poppins', sans-serif;
}
body {
    background-color: black;
}
html { scroll-behavior: smooth; }
h2 {
    padding: 5rem 0 1rem 0;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 2rem;
}
/* header nav links*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .95);
    border-bottom: 1px solid gray;
}
header nav {
    display: flex;
    align-items: center;
    padding: 2rem;
}
nav .my-name{
    display: flex;
    flex: 1;
    text-shadow: 0 1px orange;
    letter-spacing: 3px;
    font-size: 1.4rem;
}
nav .my-name a{
    display: inline-flex;
    text-decoration: none;

}
nav .links {
    position: relative;
    cursor: pointer;

}
nav .links a{
    text-decoration: none;
    margin-left: 4rem;
    position: relative;
    font-size: 1.2rem;
    transition: .3s;
}
nav .links a:hover{
    transform: scale(1.1);
}
nav .links a:after {
    content: "";
    width:0;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom:-.5rem;
    transition: .3s ease-in-out;
}
/*nav .links a:hover {
    color: rgb(71, 71, 71);
    color: red;
}*/
nav .links a:hover:after {
    width:100%;
}

nav .nav-links {
    position: absolute;
    right: -1.5rem;
    line-height: 4rem;
    display: none;
    width: 200px;
    opacity: .9;
    background-color: black;
    margin-top: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    padding: 2rem 0;
}

/*main             */

main .banner-container {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: .5rem;
}
main .banner {
    /*position: relative;*/
}
main .title {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   /*width: 100%;*/

}
main h1 {
    font-size: 1rem;
    padding: 1rem 0 1rem .3rem;
    padding-left: .5rem;
    letter-spacing: .3rem;
    color: rgb(196, 193, 193);
    border: 3px solid gray;
}
main .title p {
    position: absolute;
    bottom: -.5rem;
    font-weight: 630;
    opacity: 1;
    background-color: rgba(0, 0, 0, 1.0);
    padding: 0 6px;
    font-size: .6rem;
    color: #b5b5b5;
}


main #about {
    display: flex;
    align-items: center;
    gap: 0 .7rem;
    margin: .5rem 0;
}

main .prof-links img{
    width: 15px;
    display: flex;
    margin: 2rem 0;
}


main .profile {
    width: 200px;
    border-radius:50%;
    object-fit: contain; 
}

main .stack {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:.5rem;
}
main .stack img {
    width: 45px;
}
main .resume-btn{
    text-align: center;
    background-color: transparent;
    padding: .5rem 0;
    width: 80%;
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid gray;
    border-radius: 5px;
    transition: .3s ease;

}
main .resume-btn:hover {
    color: gray;
    transform: scale(1.02);
}


main #banner-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* portfolio section */
section .portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 3rem 2rem;
}
section .portfolio .card {
    /*transform: translateX(-100%);*/
    display: flex;
    flex-direction: column;
}
.card img {
    border-radius: 5px;
    box-shadow:3px 2px 3px rgb(223, 121, 5);
    opacity: .8;
}
.card div { 
    margin-top: 1rem;
    font-size: 1.2rem;
}
.card div a {
    margin-right: 1rem;
    text-decoration: none;
    padding-bottom: .3rem;
    border-bottom: 2px solid gray;
}
.card:hover{
    transition: .3s;
    opacity: .9;
}

/* contact section */

section .contact {
    display: flex;
    justify-content: center;
    line-height: 2.5rem;
    padding: 1rem ;
    width: 100%;
}
section .contact form {
    width: 100%;
    padding: 1rem ;
}

.contact input, textarea{
    border: none;
    width: 100%;
    padding: .5rem;
    outline: none;
}

.contact .send, textarea{
    font-size: 1rem;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.808);
}
section .contact .input-field {
    font-size: 1.1rem;
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    outline: none;
}
section .contact .send {
    border: none;
    width: 100%;
    padding: .5rem;
    position: relative;
    /*display: flex;
    justify-content: center;
    gap: 0 .2rem;*/
    transition: .5s;

}
section .contact .send:hover {
    cursor: pointer;
    background-color: #bababa;

}
section .contact .send::before {
    content: url("./images/send.svg");
    position: absolute;
    top: .3rem;
    margin-left: -1.7rem;
    /*left: -2rem;*/
    transform: rotate(-30deg);


}


/* footer section */
    footer  {
    width: 80%;
    margin: 0 auto;
    padding-top: 2REM;
    font-size: 1.2rem;
    line-height: 2.5rem;
}
footer .footer-links .LinkedIn{
    margin: 1rem;
}
footer iframe {
    border-radius: 5px;
}



    @media only screen and (min-width: 600px) {

        header nav {
            display: flex;
            align-items: center;
            padding: .5rem 6rem;
        }
        nav .my-name{
            display: flex;
            flex: 1;
            text-shadow: 0 1px orange;
            letter-spacing: 3px;
            font-size: 1.5rem;

        }
        nav .my-name a{
            display: inline-flex;
            text-decoration: none;
        }
        nav .links a{
            text-decoration: none;
            margin-left: 6rem;
            position: relative;
            font-weight: 600;
            text-shadow: 3px 2px 20px;
        }
        nav .links a:hover {
            color: rgb(71, 71, 71);
            color: white;
            
        }
        nav .menu {
            display: none;
        }
        nav .nav-links {
            display: flex;
            position: relative;
            right:0;
            left: 0;
            line-height: 1rem;
            width: 500px;
            opacity: .9;
            background-color: transparent;
            margin-top:0;
            box-shadow:none;
        }

        main .banner-container {
            margin-top: 2rem;
            width: 80%;
            flex-direction: row;
            justify-content: space-evenly;
        }
        main .prof-links {
            display: flex;
            gap: 0 3rem;
        }
        main .prof-links img {
            width: 30px;
        }
        main .prof-links img:hover {
            transform: scale(1.1);
            transition: .3s;
        }
        main #about {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        main .profile {
            width: 200px;
            border-radius:50%;
            object-fit: contain; 
        }
        main .banner-container #about .profile{
            width: 350px;
        }
        main .resume-btn {
            width: 98%;
        }
        main .banner h1 {
            /*line-height: 4rem;*/
            font-size: 1.8rem;
            padding-left: 2rem;
            letter-spacing: 2rem;
        }
        main .title p {
            font-size: .9rem;
            letter-spacing: 10px;
        }

        main .stack {
            gap:2rem;
        }  
        main .stack img {
            width: 100px;
        }
        
        main .banner button{
            padding: .7rem 1rem;
        }


        /*PORTFOLIO*/
        .portfolio img {
            width: 350px;
            height: 250px;
        }

        .card a:hover { color: gray;}

        /*    form     */
        section .contact form { width: 50%; }

        footer {
            /*width: 80%;
            margin: 0 auto;*/
            padding-top: 5rem;
            font-size: 1.5rem;
            line-height: 3rem;
            display: flex;
            justify-content: space-between;
        }
        footer .footer-links img {
            width: 40px;
        }
        footer .footer-links .LinkedIn{
            margin: 3rem;
        }
        footer iframe {
            width: 500px;
        }

    }
